.header{
    display: flex;
    padding: 2px;
    text-align: center;
    background-color:paleturquoise;
    color: blue;
    margin-left: 0%;
    width: 100%;
    justify-content: space-between;
}
.table{
    margin-top: 20px;
    color: black;
    text-align: center;
    width: 50%;
    padding-left: 8%;
}
.back{
    margin-top: 10%;
}
.footer{
    display: flex;
    text-align:center;
    margin-top: 8%;
    padding-bottom: 2px;
    background-color:paleturquoise;
    color: blue;
    width: 100%;
    justify-content: space-between;
}
